.body{
    background-image: url('../../images/paws1.png');
    width: 98.8vw;
    height: 126vh;
}
.cards{
    position: absolute;
    left: 300px;
    top: 20vh;
    display: flex;
    flex-wrap: wrap;
    width: 79vw;
    height: 90vh;
    justify-content: center;
    background: transparent;
}

.bone{
    z-index: 1;
    display: block;
    width:200px;
    height:200px;
    margin:-90px;
}

.filterBones{
    z-index: 1;
    display: block;
    position: absolute;
    left: 136px;
    top: 284px;
}

.sortsBones{
    z-index: 1;
    display: block;
    position: absolute;
    left: 136px;
    bottom: -11.5vh;
}

#create{
    position: absolute;
    left: 3.12cm;
    top:3.85cm;
    width: 56px;
    color: white;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    background-color: rgb(95, 95, 95);
    border: none;
    cursor: pointer;
    transition: .5s ease;
}

#create:hover{
    color: black;
    background-color: lightgray;
    transform: scale(1.02);
}

#dogHouse{
    position: absolute;
    width:200px;
    height:192px;
    left: 1.2cm;
}

#loadingText{
    position : absolute;
    font-family: 'Fredoka One', cursive; 
    font-size: 60px;
    left: 32vw;
    top: 55vh;
}

#not_found{
    position : absolute;
    font-family: 'Fredoka One', cursive; 
    font-size: 60px;
    left: 15vw;
    top: 35vh;
}



