.body {
    background-color: rgb(255, 237, 192);
    width: 100vw;
    height: 100vh;
  }
  
.h1{
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 150px;
}

.banner{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: left;
    height: 25%;
    position: absolute;
    background-color: burlywood;
    top: 30%;
    width: 100%;
}

.bannerText{
    position: relative;
    top: -100px;
    left: 50px;
}

#dog1{
    position: absolute;
    z-index: 1;
    display: block;
    max-width:500px;
    max-height: 270px;
    top: -10px;
}

#dog2{
    position: fixed;
    z-index: 1;
    top: -40px; 
}

#bone{
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 50%;
    transform: rotate(-4deg);
}

#btn{
    position: absolute;
    font-family: 'Fredoka One', cursive;
    color: rgb(56, 39, 4);
    bottom: 145px;
    left: 340px;
    width: 200px;
    height: 30px;
    background-color: rgb(253, 253, 253);
    outline: none;
    border: none;
    transition: .5s ease;
}

#btn:hover{
    background-color: rgb(250, 161, 7);
    color: white;
    cursor: pointer;
    transform: scale(1.3);
}